body{
    font-family: "DejaVu Sans Mono";
    background-color: #274b7a;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200vh;
}
#form-container{
    background-color: chocolate;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 400px;
}
.form-group{
    margin-bottom: 16px;
}
label{
    display: block;
    margin: 8px;
    font-weight: bold;
}

select{
    width: 10px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;

}
input[type="email"],
input[type="password"],
input[type="text"],
textarea,
textarea{
    height: 100px;
}